# üóÑÔ∏è PARTIE 4 : SQLITE ET BASES DE DONN√âES

### üåü Ce que vous allez apprendre :
- **Connexion** : Cr√©er et g√©rer une base SQLite
- **Tables** : Cr√©ation et structure de donn√©es
- **CRUD** : Create, Read, Update, Delete
- **Requ√™tes** : SQL avanc√© avec Pandas
- **Performance** : Index et optimisation

### üõ†Ô∏è Pr√©requis :
Ex√©cutez d'abord la cellule syst√®me ci-dessous.

---

In [24]:
exec(open('helpers/sqlite_helper.py').read())

---

## üåü Section 4.1 : Connexion et Exploration

### üéØ Objectif :
Se connecter √† SQLite et explorer la structure de la base.

### üìù √âtape 4.1.1 : Connexion √† la base

**Instructions :**
√âtablir une connexion avec la base SQLite.

In [ ]:
# üìù √âTAPE 4.1.1 : Connexion SQLite
# Cr√©ez une connexion √† la base 'databases/entreprise.db'
# Stockez la connexion dans une variable 'conn'

# Syntaxe : conn = sqlite3.connect('chemin/base.db')

# üëá Cr√©ez votre connexion ici :

In [33]:
# üí° Aide pour l'√©tape 4.1.1
sqlite_helper.help("4.1.1")

### üìù √âtape 4.1.2 : Explorer les tables

**Instructions :**
Lister toutes les tables et examiner leur structure.

In [ ]:
# üìù √âTAPE 4.1.2 : Exploration des tables
# 1. Listez toutes les tables avec cette requ√™te :
#    "SELECT name FROM sqlite_master WHERE type='table'"
#    
# 2. Pour la table 'employes', affichez sa structure avec :
#    "PRAGMA table_info(employes)"
#    
# 3. Comptez le nombre de lignes avec :
#    "SELECT COUNT(*) FROM employes"

# Syntaxe :
# cursor = conn.cursor()
# cursor.execute("requ√™te SQL")
# resultats = cursor.fetchall()  # ou fetchone()

# üëá Explorez la base ici :

In [ ]:
# üé¨ D√©monstration exploration
def demo_exploration():
    try:
        conn = sqlite3.connect('databases/entreprise.db')
        cursor = conn.cursor()
        
        # Tables
        print("üìã TABLES DISPONIBLES :")
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
        tables = cursor.fetchall()
        for table in tables:
            print(f"  üìä {table[0]}")
        
        # Structure employes
        print("\nüèóÔ∏è STRUCTURE TABLE EMPLOYES :")
        cursor.execute("PRAGMA table_info(employes)")
        columns = cursor.fetchall()
        for col in columns:
            print(f"  {col[1]} ({col[2]}) {'- PRIMARY KEY' if col[5] else ''}")
        
        # Nombre de lignes
        cursor.execute("SELECT COUNT(*) FROM employes")
        count = cursor.fetchone()[0]
        print(f"\nüìä Nombre d'employ√©s: {count}")
        
        conn.close()
        
    except Exception as e:
        print(f"‚ùå Erreur: {e}")

sqlite_helper.demo_button(demo_exploration, "üé¨ Exploration automatique")

In [32]:
# üí° Aide pour l'√©tape 4.1.2
sqlite_helper.help("4.1.2")

---

## üåü Section 4.2 : Requ√™tes avec Pandas

### üéØ Objectif :
Utiliser pandas pour ex√©cuter des requ√™tes SQL facilement.

### üìù √âtape 4.2.1 : Lecture simple avec pandas

**Instructions :**
Charger des donn√©es SQLite dans des DataFrames pandas.

In [ ]:
# üìù √âTAPE 4.2.1 : Lecture avec pandas
# Utilisez pd.read_sql_query() pour ex√©cuter ces requ√™tes :
# 1. df_tous_employes = tous les employ√©s
# 2. df_it = employ√©s du d√©partement IT seulement
# 3. df_salaires_eleves = employ√©s avec salaire > 50000

# Syntaxe :
# df = pd.read_sql_query("SELECT * FROM table", conn)
# df = pd.read_sql_query("SELECT * FROM table WHERE condition", conn)

# üëá Cr√©ez vos DataFrames ici :

In [ ]:
# üé¨ D√©monstration des r√©sultats
def demo_requetes():
    try:
        print("üìä R√âSULTATS DES REQU√äTES")
        print("="*30)
        
        print(f"üë• Tous les employ√©s: {len(df_tous_employes)} personnes")
        print(f"üíª D√©partement IT: {len(df_it)} personnes")
        print(f"üí∞ Salaires √©lev√©s: {len(df_salaires_eleves)} personnes")
        
        print("\nüîç Aper√ßu employ√©s IT:")
        if len(df_it) > 0:
            print(df_it[['prenom', 'nom', 'salaire']].to_string(index=False))
        
        print("\nüí∞ Aper√ßu salaires √©lev√©s:")
        if len(df_salaires_eleves) > 0:
            print(df_salaires_eleves[['prenom', 'nom', 'departement', 'salaire']].to_string(index=False))
            
    except NameError:
        print("‚ö†Ô∏è Cr√©ez d'abord tous les DataFrames")

sqlite_helper.demo_button(demo_requetes, "üé¨ Voir les r√©sultats")

In [31]:
# üí° Aide pour l'√©tape 4.2.1
sqlite_helper.help("4.2.1")

### üìù √âtape 4.2.2 : Requ√™tes avanc√©es

**Instructions :**
Utiliser des agr√©gations et fonctions SQL.

In [ ]:
# üìù √âTAPE 4.2.2 : Requ√™tes agr√©g√©es
# Cr√©ez ces requ√™tes d'analyse :
# 1. df_stats_dept = statistiques par d√©partement (COUNT, AVG(salaire), MIN, MAX)
# 2. df_top_salaires = top 3 des salaires les plus √©lev√©s
# 3. df_anciennete = employ√©s avec leur anciennet√© en jours

# Exemples de requ√™tes SQL :
# GROUP BY departement
# ORDER BY salaire DESC LIMIT 3
# julianday('now') - julianday(date_embauche) pour l'anciennet√©

# üëá Cr√©ez vos requ√™tes avanc√©es ici :

In [30]:
# üí° Aide pour l'√©tape 4.2.2
sqlite_helper.help("4.2.2")

---

## üåü Section 4.3 : CRUD Operations

### üéØ Objectif :
Ma√Ætriser Create, Read, Update, Delete avec SQLite.

### üìù √âtape 4.3.1 : INSERT - Ajouter des donn√©es

**Instructions :**
Ajouter de nouveaux employ√©s √† la base.

In [ ]:
# üìù √âTAPE 4.3.1 : INSERT nouveaux employ√©s
# Ajoutez ces 3 nouveaux employ√©s :
# 1. ('Rousseau', 'Emma', 'emma.rousseau@email.com', 51000, 'Marketing', '2024-01-10')
# 2. ('Petit', 'Lucas', 'lucas.petit@email.com', 46000, 'Finance', '2024-02-15')
# 3. ('Garcia', 'L√©a', 'lea.garcia@email.com', 53000, 'IT', '2024-03-01')

# M√©thodes possibles :
# 1. cursor.execute() avec INSERT INTO
# 2. cursor.executemany() pour plusieurs INSERT
# 3. DataFrame.to_sql() pour ins√©rer un DataFrame

# N'oubliez pas conn.commit() pour valider !

# üëá Ajoutez les nouveaux employ√©s ici :

In [17]:
# üí° Aide pour l'√©tape 4.3.1
sqlite_helper.help("4.3.1")

### üìù √âtape 4.3.2 : UPDATE - Modifier des donn√©es

**Instructions :**
Mettre √† jour les salaires et d√©partements.

In [ ]:
# üìù √âTAPE 4.3.2 : UPDATE donn√©es existantes
# Effectuez ces modifications :
# 1. Augmentez tous les salaires du d√©partement IT de 5%
# 2. Changez le d√©partement de 'Jean Martin' vers 'DevOps'
# 3. Mettez √† jour l'email de 'Emma Rousseau' vers 'emma.r@entreprise.com'

# Syntaxe UPDATE :
# UPDATE table SET colonne = valeur WHERE condition
# UPDATE table SET colonne = colonne * 1.05 WHERE departement = 'IT'

# üëá Effectuez vos modifications ici :

In [ ]:
# üé¨ V√©rification des modifications
def demo_modifications():
    try:
        # V√©rifier les modifications
        df_check = pd.read_sql_query("SELECT * FROM employes", conn)
        
        print("üîç V√âRIFICATION DES MODIFICATIONS")
        print("="*35)
        
        # IT salaires
        df_it_new = df_check[df_check['departement'] == 'IT']
        print(f"üíª Employ√©s IT (salaires mis √† jour):")
        print(df_it_new[['prenom', 'nom', 'salaire']].to_string(index=False))
        
        # Jean Martin
        jean = df_check[(df_check['prenom'] == 'Jean') & (df_check['nom'] == 'Martin')]
        if len(jean) > 0:
            print(f"\nüë®‚Äçüíº Jean Martin - Nouveau d√©partement: {jean.iloc[0]['departement']}")
        
        # Emma email
        emma = df_check[(df_check['prenom'] == 'Emma') & (df_check['nom'] == 'Rousseau')]
        if len(emma) > 0:
            print(f"üìß Emma Rousseau - Nouvel email: {emma.iloc[0]['email']}")
            
    except Exception as e:
        print(f"‚ùå Erreur: {e}")

sqlite_helper.demo_button(demo_modifications, "üé¨ V√©rifier les modifications")

In [20]:
# üí° Aide pour l'√©tape 4.3.2
sqlite_helper.help("4.3.2")

---

## üåü Section 4.4 : Performance et Index

### üéØ Objectif :
Optimiser les performances avec des index et analyser les requ√™tes.

In [ ]:
# üìù √âTAPE 4.4 : Optimisation et index
# Cr√©ez des index pour am√©liorer les performances :
# 1. Index sur la colonne 'departement'
# 2. Index sur la colonne 'salaire'
# 3. Index composite sur 'nom' et 'prenom'

# Syntaxe :
# CREATE INDEX nom_index ON table(colonne)
# CREATE INDEX nom_index ON table(col1, col2)

# Puis testez les performances avec EXPLAIN QUERY PLAN

# üëá Cr√©ez vos index ici :

In [28]:
# üí° Aide pour l'√©tape 4.4.1 : Index et Performance
sqlite_helper.help("4.4.1")

In [ ]:
# üéâ VALIDATION FINALE SQLITE
sqlite_helper.success("MA√éTRE SQLITE ! Base de donn√©es ma√Ætris√©e !")

print("\nüèÜ COMP√âTENCES SQLITE ACQUISES :")
print("‚úÖ Connexion et exploration de base")
print("‚úÖ Requ√™tes SELECT avec pandas")
print("‚úÖ CRUD : INSERT, UPDATE, DELETE")
print("‚úÖ Requ√™tes avanc√©es et agr√©gations")
print("‚úÖ Index et optimisation des performances")
print("‚úÖ Integration pandas-SQL")
print("\nüöÄ Pr√™t pour : Docker et containerisation !")

# Fermeture propre
try:
    conn.close()
    print("\nüîí Connexion ferm√©e proprement")
except:
    pass