# 🗄️ PARTIE 4 : SQLITE ET BASES DE DONNÉES

### 🌟 Ce que vous allez apprendre :
- **Connexion** : Créer et gérer une base SQLite
- **Tables** : Création et structure de données
- **CRUD** : Create, Read, Update, Delete
- **Requêtes** : SQL avancé avec Pandas
- **Performance** : Index et optimisation

### 🛠️ Prérequis :
Exécutez d'abord la cellule système ci-dessous.

---

In [24]:
exec(open('helpers/sqlite_helper.py').read())

---

## 🌟 Section 4.1 : Connexion et Exploration

### 🎯 Objectif :
Se connecter à SQLite et explorer la structure de la base.

### 📝 Étape 4.1.1 : Connexion à la base

**Instructions :**
Établir une connexion avec la base SQLite.

In [ ]:
# 📝 ÉTAPE 4.1.1 : Connexion SQLite
# Créez une connexion à la base 'databases/entreprise.db'
# Stockez la connexion dans une variable 'conn'

# Syntaxe : conn = sqlite3.connect('chemin/base.db')

# 👇 Créez votre connexion ici :

In [33]:
# 💡 Aide pour l'étape 4.1.1
sqlite_helper.help("4.1.1")

### 📝 Étape 4.1.2 : Explorer les tables

**Instructions :**
Lister toutes les tables et examiner leur structure.

In [ ]:
# 📝 ÉTAPE 4.1.2 : Exploration des tables
# 1. Listez toutes les tables avec cette requête :
#    "SELECT name FROM sqlite_master WHERE type='table'"
#    
# 2. Pour la table 'employes', affichez sa structure avec :
#    "PRAGMA table_info(employes)"
#    
# 3. Comptez le nombre de lignes avec :
#    "SELECT COUNT(*) FROM employes"

# Syntaxe :
# cursor = conn.cursor()
# cursor.execute("requête SQL")
# resultats = cursor.fetchall()  # ou fetchone()

# 👇 Explorez la base ici :

In [ ]:
# 🎬 Démonstration exploration
def demo_exploration():
    try:
        conn = sqlite3.connect('databases/entreprise.db')
        cursor = conn.cursor()
        
        # Tables
        print("📋 TABLES DISPONIBLES :")
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
        tables = cursor.fetchall()
        for table in tables:
            print(f"  📊 {table[0]}")
        
        # Structure employes
        print("\n🏗️ STRUCTURE TABLE EMPLOYES :")
        cursor.execute("PRAGMA table_info(employes)")
        columns = cursor.fetchall()
        for col in columns:
            print(f"  {col[1]} ({col[2]}) {'- PRIMARY KEY' if col[5] else ''}")
        
        # Nombre de lignes
        cursor.execute("SELECT COUNT(*) FROM employes")
        count = cursor.fetchone()[0]
        print(f"\n📊 Nombre d'employés: {count}")
        
        conn.close()
        
    except Exception as e:
        print(f"❌ Erreur: {e}")

sqlite_helper.demo_button(demo_exploration, "🎬 Exploration automatique")

In [32]:
# 💡 Aide pour l'étape 4.1.2
sqlite_helper.help("4.1.2")

---

## 🌟 Section 4.2 : Requêtes avec Pandas

### 🎯 Objectif :
Utiliser pandas pour exécuter des requêtes SQL facilement.

### 📝 Étape 4.2.1 : Lecture simple avec pandas

**Instructions :**
Charger des données SQLite dans des DataFrames pandas.

In [ ]:
# 📝 ÉTAPE 4.2.1 : Lecture avec pandas
# Utilisez pd.read_sql_query() pour exécuter ces requêtes :
# 1. df_tous_employes = tous les employés
# 2. df_it = employés du département IT seulement
# 3. df_salaires_eleves = employés avec salaire > 50000

# Syntaxe :
# df = pd.read_sql_query("SELECT * FROM table", conn)
# df = pd.read_sql_query("SELECT * FROM table WHERE condition", conn)

# 👇 Créez vos DataFrames ici :

In [ ]:
# 🎬 Démonstration des résultats
def demo_requetes():
    try:
        print("📊 RÉSULTATS DES REQUÊTES")
        print("="*30)
        
        print(f"👥 Tous les employés: {len(df_tous_employes)} personnes")
        print(f"💻 Département IT: {len(df_it)} personnes")
        print(f"💰 Salaires élevés: {len(df_salaires_eleves)} personnes")
        
        print("\n🔍 Aperçu employés IT:")
        if len(df_it) > 0:
            print(df_it[['prenom', 'nom', 'salaire']].to_string(index=False))
        
        print("\n💰 Aperçu salaires élevés:")
        if len(df_salaires_eleves) > 0:
            print(df_salaires_eleves[['prenom', 'nom', 'departement', 'salaire']].to_string(index=False))
            
    except NameError:
        print("⚠️ Créez d'abord tous les DataFrames")

sqlite_helper.demo_button(demo_requetes, "🎬 Voir les résultats")

In [31]:
# 💡 Aide pour l'étape 4.2.1
sqlite_helper.help("4.2.1")

### 📝 Étape 4.2.2 : Requêtes avancées

**Instructions :**
Utiliser des agrégations et fonctions SQL.

In [ ]:
# 📝 ÉTAPE 4.2.2 : Requêtes agrégées
# Créez ces requêtes d'analyse :
# 1. df_stats_dept = statistiques par département (COUNT, AVG(salaire), MIN, MAX)
# 2. df_top_salaires = top 3 des salaires les plus élevés
# 3. df_anciennete = employés avec leur ancienneté en jours

# Exemples de requêtes SQL :
# GROUP BY departement
# ORDER BY salaire DESC LIMIT 3
# julianday('now') - julianday(date_embauche) pour l'ancienneté

# 👇 Créez vos requêtes avancées ici :

In [30]:
# 💡 Aide pour l'étape 4.2.2
sqlite_helper.help("4.2.2")

---

## 🌟 Section 4.3 : CRUD Operations

### 🎯 Objectif :
Maîtriser Create, Read, Update, Delete avec SQLite.

### 📝 Étape 4.3.1 : INSERT - Ajouter des données

**Instructions :**
Ajouter de nouveaux employés à la base.

In [ ]:
# 📝 ÉTAPE 4.3.1 : INSERT nouveaux employés
# Ajoutez ces 3 nouveaux employés :
# 1. ('Rousseau', 'Emma', 'emma.rousseau@email.com', 51000, 'Marketing', '2024-01-10')
# 2. ('Petit', 'Lucas', 'lucas.petit@email.com', 46000, 'Finance', '2024-02-15')
# 3. ('Garcia', 'Léa', 'lea.garcia@email.com', 53000, 'IT', '2024-03-01')

# Méthodes possibles :
# 1. cursor.execute() avec INSERT INTO
# 2. cursor.executemany() pour plusieurs INSERT
# 3. DataFrame.to_sql() pour insérer un DataFrame

# N'oubliez pas conn.commit() pour valider !

# 👇 Ajoutez les nouveaux employés ici :

In [17]:
# 💡 Aide pour l'étape 4.3.1
sqlite_helper.help("4.3.1")

### 📝 Étape 4.3.2 : UPDATE - Modifier des données

**Instructions :**
Mettre à jour les salaires et départements.

In [ ]:
# 📝 ÉTAPE 4.3.2 : UPDATE données existantes
# Effectuez ces modifications :
# 1. Augmentez tous les salaires du département IT de 5%
# 2. Changez le département de 'Jean Martin' vers 'DevOps'
# 3. Mettez à jour l'email de 'Emma Rousseau' vers 'emma.r@entreprise.com'

# Syntaxe UPDATE :
# UPDATE table SET colonne = valeur WHERE condition
# UPDATE table SET colonne = colonne * 1.05 WHERE departement = 'IT'

# 👇 Effectuez vos modifications ici :

In [ ]:
# 🎬 Vérification des modifications
def demo_modifications():
    try:
        # Vérifier les modifications
        df_check = pd.read_sql_query("SELECT * FROM employes", conn)
        
        print("🔍 VÉRIFICATION DES MODIFICATIONS")
        print("="*35)
        
        # IT salaires
        df_it_new = df_check[df_check['departement'] == 'IT']
        print(f"💻 Employés IT (salaires mis à jour):")
        print(df_it_new[['prenom', 'nom', 'salaire']].to_string(index=False))
        
        # Jean Martin
        jean = df_check[(df_check['prenom'] == 'Jean') & (df_check['nom'] == 'Martin')]
        if len(jean) > 0:
            print(f"\n👨‍💼 Jean Martin - Nouveau département: {jean.iloc[0]['departement']}")
        
        # Emma email
        emma = df_check[(df_check['prenom'] == 'Emma') & (df_check['nom'] == 'Rousseau')]
        if len(emma) > 0:
            print(f"📧 Emma Rousseau - Nouvel email: {emma.iloc[0]['email']}")
            
    except Exception as e:
        print(f"❌ Erreur: {e}")

sqlite_helper.demo_button(demo_modifications, "🎬 Vérifier les modifications")

In [20]:
# 💡 Aide pour l'étape 4.3.2
sqlite_helper.help("4.3.2")

---

## 🌟 Section 4.4 : Performance et Index

### 🎯 Objectif :
Optimiser les performances avec des index et analyser les requêtes.

In [ ]:
# 📝 ÉTAPE 4.4 : Optimisation et index
# Créez des index pour améliorer les performances :
# 1. Index sur la colonne 'departement'
# 2. Index sur la colonne 'salaire'
# 3. Index composite sur 'nom' et 'prenom'

# Syntaxe :
# CREATE INDEX nom_index ON table(colonne)
# CREATE INDEX nom_index ON table(col1, col2)

# Puis testez les performances avec EXPLAIN QUERY PLAN

# 👇 Créez vos index ici :

In [28]:
# 💡 Aide pour l'étape 4.4.1 : Index et Performance
sqlite_helper.help("4.4.1")

In [ ]:
# 🎉 VALIDATION FINALE SQLITE
sqlite_helper.success("MAÎTRE SQLITE ! Base de données maîtrisée !")

print("\n🏆 COMPÉTENCES SQLITE ACQUISES :")
print("✅ Connexion et exploration de base")
print("✅ Requêtes SELECT avec pandas")
print("✅ CRUD : INSERT, UPDATE, DELETE")
print("✅ Requêtes avancées et agrégations")
print("✅ Index et optimisation des performances")
print("✅ Integration pandas-SQL")
print("\n🚀 Prêt pour : Docker et containerisation !")

# Fermeture propre
try:
    conn.close()
    print("\n🔒 Connexion fermée proprement")
except:
    pass